main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 5px;
}

.formCheckbox {
    display: flex;
}

.boton {
    display: flex;
    justify-content: center;
    color: black;
}

button {
    background-color: black;
    cursor: pointer;
}

.inputError {
    border: 1px solid red;
}